# Rust/Cargo
/target/
**/*.rs.bk

# Binaries and dynamic libs
*.exe
*.dll
*.dylib
*.so

# Logs
logs/
*.log


# Editors/IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Temp/Swap
*.swp
*.swo
*.tmp
*.temp
*~

# Coverage/Reports
coverage/
*.profdata
